<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form id="quizForm">
    {% csrf_token %}
    {% for question in questions %}
    <div class="question">
        <p>{{ question.question }}</p>
        {% for option in question.options.all %}
        <label>
            <input type="radio" name="question{{ question.id }}" value="{{ option.id }}">
            {{ option.option_text }}
        </label>
        <br>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

<div id="results"></div>

<script>
    $(document).ready(function() {
        $('#quizForm').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                // url: '{% url 'check_answers' %}',
                data: formData,
                success: function(data) {
                    displayResults(data);
                }
            });
        });

        function displayResults(data) {
            var resultsDiv = $('#results');
            resultsDiv.empty();
            if (data.status) {
                resultsDiv.append('<h2>Results:</h2>');
                data.results.forEach(function(result) {
                    resultsDiv.append('<p>Question: ' + result.question + '</p>');
                    resultsDiv.append('<p>Your Answer: ' + result.selected_option + '</p>');
                    resultsDiv.append('<p>Correct Answer: ' + result.correct_option + '</p>');
                    resultsDiv.append('<hr>');
                });
            } else {
                resultsDiv.append('<p>No results available.</p>');
            }
        }
    });
</script>

</body>
</html>
